@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body { height: 100%; }
body { @apply bg-cream text-ink font-body; }

/* set headings to Playfair */
@layer base {
  h1, h2, h3 { @apply font-heading; }
}

/* Link reset */
a { @apply underline-offset-2 decoration-ink/20 hover:decoration-ink; }